# Used by scripts/configure.sh (it runs ansible-playbook from this directory).
[defaults]
localhost_warning = False
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = False
callback_result_format = yaml
collections_path = /usr/share/ansible/collections:~/.ansible/collections

[inventory]
inventory_unparsed_warning = False
